<!doctype html>
<html lang="en">

<head>
<script src="{{url_for('static', filename='js/kit.fontawesome.js')}}"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="{{url_for('static', filename='images/themis-us-logo.png')}}" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.fancybox.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/aos.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<title>Themis-Us</title>
<style>

		@media (max-width: 992px) { 
			#home {
				background-image: url('{{url_for('static', filename='images/lp/mobile-skull.jpg')}}');
			}
			img.terbang {
				width: 30%;
			}
			.themis {
			display: none;
				
			}
			.upmarg{
			margin-top: 30px;
			}
			.themis-txt{
			display: none;
			}
		}
		@media (min-width: 993px) { 
			#home {
				background-image: url('{{url_for('static', filename='images/lp/desktop-skull.jpg')}}');
			}
			img.terbang {
				width: 80%;

			}
			.themis {
			margin-top: -25px; 
			margin-left: 60px;
			opacity: 0.5;
				
			}
			.upmarg{
			margin-top: 200px;
			}
			.themis-txt{
			width: 30%;
			margin-top: -200px; 
			margin-left: 50px;
			}
		}
			@font-face{
				font-family: 'montagu';
				src:url('{{url_for('static', filename='fonts/montagu/MontaguSlab-VariableFont_opsz,wght.ttf')}}');
			}
</style>	
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">
<div class="lines-wrap">
<div class="lines-inner">
<div class="lines"></div>
</div>
</div>

<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close">
<span class="icofont-close js-menu-toggle"></span>
</div>
</div>
<div class="site-mobile-menu-body"></div>
</div>
<nav class="site-nav light js-site-navbar mb-5 site-navbar-target">
<div class="container">
<div class="site-navigation">
<a href="" class="#"><img style="width:120px; height: 50px;" src="{{url_for('static', filename='images/themis-us-logo.png')}}" class="logo m-0 float-left" alt=""></a>
<ul class="js-clone-nav d-none d-lg-inline-block site-menu float-left">
<li class="active"><a href="#home" class="nav-link">Home</a></li>
<li ><a href="#keunggulan" class="nav-link">Keunggulan</a></li>
<li><a href="#team" class="nav-link">Team</a></li>
<li><a href="#tentang" class="nav-link">Tentang Themis-Us</a></li>
<li><a href="#kontak" class="nav-link">Kontak</a></li>
</ul>
<ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
<li class="cta-primary"><a href="login.html">Login</a></li>
<li class="cta-button-outline"><a href="register.html">Register</a></li>
</ul>
<a href="" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block light d-lg-none" data-toggle="collapse" data-target="#main-navbar">
<span></span>
</a>
</div>
</div>
</nav>
<div class="untree_co-hero" id="home" style=" width: 100%; height: 100vh; background-size: cover; position: relative; background-position: center; ">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-4 ml-auto order-lg-2" data-aos="fade-right" data-aos-delay="400">
<img class="terbang themis" src="{{url_for('static', filename='images/lp/themis animation.png')}}" alt="Image">
</div> 
<div class="col-lg-8 justify-content-center col-sm-10 " >
<div data-aos="fade-up" data-aos-delay="200" class="upmarg">
<img class="themis-txt img" src="{{url_for('static', filename='images/lp/themis-text.png')}}" alt="Image">
<h4 style="font-family: montagu; color:white;">Themis-Us</h4><br><br>
<h6 style="font-family: montagu; color:white;">Untuk menggunakan The Lady <br><br><br><a class="btn btn-outline-primary smoothscroll" href="login.html">Login</a> atau <a class="btn btn-outline-primary smoothscroll" href="register.html">Register</a></h6>
</div>
</div> 
</div> 
</div> 
</div> 
<div id="fitur" class="untree_co-section">
<div class="container">
<div class="row mb-4">
<div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
<h4 id="keunggulan" class="heading">Keunggulan dari Themis-Us</h4>
<p>Kenapa Themis-Us?</p>
</div>
</div> 
<div class="row">
<div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="100">
<div class="service horizontal d-flex">
<div class="service-icon color-1 mb-4">
<img src="{{url_for('static', filename='images/world-wide-web.png')}}" style="width: 40px; padding: 10px;" alt="Image">
</div> 
<div class="service-contents">
<h3>Web Based</h3>
<p>User mudah menggunakan Themis-Us (The Lady) karena hanya mengakses <span class="highlight"><a href="https:\\andiansyah23.github.io">Website Themis-Us</a></span></p>
</div> 
</div> 
</div>
<div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="200">
<div class="service horizontal d-flex">
<div class="service-icon color-2 mb-4">
<img src="{{url_for('static', filename='images/tool-box.png')}}" style="width: 40px; padding: 10px;" alt="Image">
</div> 
<div class="service-contents">
<h3>Multi Tool</h3>
<p>Berbagai macam tool dan bisa langsung di run!</p>
</div> 
</div> 
</div>
<div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="200">
<div class="service horizontal d-flex">
<div class="service-icon color-2 mb-4">
<img src="{{url_for('static', filename='images/cyber-security.png')}}" style="width: 40px; padding: 10px;" alt="Image">
</div> 
<div class="service-contents">
<h3>Jenis tool beragam</h3>
<p>Banyak pilihan tool yang disediakan di Themmis-Us</p>
</div> 
</div> 
</div>
<div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="300">
<div class="service horizontal d-flex">
<div class="service-icon color-3 mb-4">
<img src="{{url_for('static', filename='images/python.png')}}" style="width: 40px; padding: 10px;" alt="Image">
</div> 
<div class="service-contents">
<h3>Python Based</h3>
<p>Tool menggunakan bahasa Python yang efisien dan efektif</p>
</div> 
</div> 
</div> 
</div>
</div> 
</div> 
<div class="untree_co-section" id="team">
<div class="container">
<div class="row">
<div class="col-lg-4 mb-5 text-center text-lg-left mb-lg-0" data-aos="fade-up" data-aos-delay="0">
<div class="mb-4">
<span class="caption">Team kita</span>
<h2 class="heading">Team Themis-Us</h2>
</div>
<div>
<a href="#" class="js-custom-prev-v2 cusotm-slider-nav custom-prev"><span><svg class="bi bi-arrow-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
<path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
</svg></span></a>
<a href="#" class="js-custom-next-v2 cusotm-slider-nav custom-next"><span>
<svg class="bi bi-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z" />
<path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z" />
</svg></span>
</a>
</div>
</div>
<div class="col-lg-8" data-aos="fade" data-aos-delay="200">
<div class="owl-2-slider owl-carousel">
<div class="item">
<div class="untree_co-testimonial d-flex">
<div class="text">
<img src="{{url_for('static', filename='images/profile-team.jpg')}}" alt="Image" class="img-fluid">
<div class="author d-flex">
<div class="pic mr-3">
</div>
<div>
<br>
<blockquote>
	<ul>
	<li>
	Web Design "Themis-Us"
	</li>
	<li>	
	Embedding tool kedalam “The Lady”
	</li>
	</ul>
</blockquote>
<strong class="d-block">Raihan Rinto Andiansyah,</strong><span class="d-block">20.83.0572</span>
</div>
</div>
</div>
</div> 
</div>
<div class="item">
<div class="untree_co-testimonial d-flex">
<div class="text">
<img src="{{url_for('static', filename='images/profile-team.jpg')}}" alt="Image" class="img-fluid">
<div class="author d-flex">
<div class="pic mr-3">	
</div>
<div>
<br>
<blockquote>
	<ul>
	<li>	
	Frame “The Lady”
	</li>
	</ul>
</blockquote>
<strong class="d-block">Azhar Surya Pratama,</strong><span class="d-block">20.83.0550</span>
</div>
</div>
</div>
</div> 
</div>
<div class="item">
<div class="untree_co-testimonial d-flex">
<div class="text">
<img src="{{url_for('static', filename='images/profile-team.jpg')}}" alt="Image" class="img-fluid">
<div class="author d-flex">
<div class="pic mr-3">
</div>
<div>
<br>
<blockquote>
	<ul>
	<li>	
	Desain flow “The Lady”
	</li>
	</ul>
</blockquote>
<strong class="d-block">Adam Firdaus,</strong><span class="d-block">20.83.0556</span>
</div>
</div>
</div>
</div> 
</div>
</div>
</div>
</div> 
</div> 
<div class="untree_co-section" id="tentang">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
<img style="width: 45%;height: 80%; margin-left: 120px;" src="{{url_for('static', filename='images/themis-about.png')}}" alt="Image" class="img-fluid">
</div> 
<div class="col-lg-4">
<div class="mb-4" data-aos="fade-up" data-aos-delay="0">
<span class="caption">Tentang</span>
<h4 class="heading">Themis-Us</h4>
</div>
<div class="mb-4" data-aos="fade-up" data-aos-delay="100">
<p>Themis adalah sosok dewi yang siap menebas setiap keangkaramurkaan yang terjadi. Tentu dengan tanpa pandang bulu. Dalam legenda Yunani Kuno terdapat kisah tentang Dewi Themis tentang keadilan yang coba dihadirkan manusia sebagai sebagai wakil Tuhan di muka bumi.</p>

<p>Themis-Us adalah sebuah web application yang memiliki tool bernama "The Lady" yang mana the lady ini memiliki banyak lelaki yang mana merepresentasikan banyaknya tool yang terinspirasi dari lscript</p>
</div>
<!-- <ul class="list-unstyled ul-check primary mb-4" data-aos="fade-up" data-aos-delay="200">
<li>There live the blind texts</li>
<li>Far far away behind the word</li>
<li>Their place and supplies</li>
</ul> -->
<div class="row count-numbers">
<div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
<span class="counter d-block"><span data-number="50">50</span><span> Tools</span></span>
<span class="caption-4">Tool yang kita miliki</span>
<span class="caption-4">dengan</span>
<span class="counter d-block"><span data-number="5">5</span><span> Jenis</span></span>
<span class="caption-4">jenis tool</span>
</div>
</div>
</div> 
</div> 
</div>
<br>
<center>
<div class="untree_co-section" id="kontak" style="background-color: #003ECB29; border-radius: 10px;">
<div class="container">
<div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
<div class="col-12 text-center">
<h2 class="heading">Kontak Kami</h2>
<p>Jika ada hal yang ingin ditanyakan, kontak kami dibawah</p>
</div>
</div> 
<div class="row">
<div class="col-lg-7">
<form class="contact-form" action="" method="get" data-aos="fade-up" data-aos-delay="100">
<div class="row">
<div class="col-6">
<div class="form-group">
<label class="" for="nama">Nama lengkap</label>
<input type="text" class="form-control" id="nama" name="nama" placeholder="Themis">
</div>
</div>
<div class="col-6">
<div class="form-group">
<label class="" for="keluhan">Keluhan Tentang</label>
<input type="text" class="form-control" id="keluhan" name="keluhan" placeholder="Tool">
</div>
</div>
</div>
<div class="form-group">
<label class="" for="whatsapp">Nomor Whatsapp Aktif</label>
<input type="number" min="620000000" class="form-control" id="whatsapp" name="whatsapp" placeholder="62xxxxxxxxxx">
</div>
<div class="form-group">
<label class="" for="message">Pesan</label>
<textarea name="message" class="form-control" id="message" cols="30" rows="5" ></textarea>
</div>
<a class="btn btn-primary" onclick="kirimpesan()">Kirim</a>
</form>
</div> 
<div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200" style="padding-top: 30px">
<h3 class="h5 mb-4">Contact Info</h3>
<address class="text-black d-flex"><span class="mt-1 icon-room mr-2"></span><span>Pondok Citra Lestari B7, Geblag, Bantul, Kec. Bantul, Bantul, Daerah Istimewa Yogyakarta 55711</span></address>
<ul class="list-unstyled ul-links mb-4">
<li><a href="https://wa.me/6285155188903" class="d-flex"><span class="mt-1 icon-phone mr-2"></span><span>+62-851-5518-8903</span></a></li>
<li><a href="mailto:raihanrintoandiansyah@gmail.com" class="d-flex"><span class="mt-1 icon-envelope mr-2"></span><span>raihanrintoandiansyah@gmail.com</span></a></li>
<li><a href="https://andiansyah23.github.io" target="_blank" class="d-flex"><span class="mt-1 icon-globe mr-2"></span><span>https://andiansyah23.github.io</span></a></li>
</ul>
</div> 
</div> 
</div> 
</div>  
</center>
</div> 
<div class="site-footer" style="border-radius: 5px;"> 
<div class="row">
<div class="col-12 text-center">
<p style="margin: 5px;">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://andiansyah23.github.io" target="_blank">Themis-Us team</a>
</p>
</div>
</div>
</div> 
</div> 
<div id="overlayer"></div>
<div class="loader">
<div class="spinner-border" role="status">
<span class="sr-only">Loading...</span>
</div>
</div>
<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.animateNumber.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.fancybox.min.js')}}"></script>
<script src="{{url_for('static', filename='js/aos.js')}}"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>
<script>
	function kirimpesan(){
		var nama = document.getElementById("nama").value;
		var keluhan = document.getElementById("keluhan").value;
		var whatsapp = document.getElementById("whatsapp").value;
		var message = document.getElementById("message").value;
		var allmessage = "Hallo admin Themis-Us, Saya "+nama+". Saya mengalami kendala terkait "+keluhan+", yaitu : "+message+". Mohon bantuannya Admin, terima kasih^^. Tolong segera di balas di nomer whatsapp https://wa.me/"+whatsapp;
		// console.log(allmessage);
		window.location.href='https://wa.me/6285155188903/?text='+allmessage;
	}
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>
</html>
